.content-wrapper {
    padding: 20px 0;
}

.personTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 8px;
    display: block;
    font-size: 0.6vw;
    overflow: auto;
    margin: 0 auto 20px;
    max-width: 100%;
    width: auto;
}

.personTable th,
.personTable td {
    border: 1px solid #ccc;
    padding: 0.7vw;
    text-align: left;
}

.personTable th {
    border-top: none;
}

.personTable tr:last-child td {
    border-bottom: none;
}

.personTable th:first-child,
.personTable td:first-child {
    border-left: none;
}

.personTable td:nth-child(2),
.personTable td:nth-child(3) {
    text-align: center;
}

.personTable td .text {
    display: inline-block;
    max-height: 27px;
    max-width: 60px;
    overflow: hidden;
    width: 9em;
}

.personTable td:hover .text {
    font-weight: bold;
}

.personTable .button-wrapp {
    border: none;
}

.button-wrapp {
    background-color: #ad6bea;
}

.btn {
    background-color: #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    transition: all 0.3s;
}

.personTable .btn {
    padding: 5px 7px;
}

.btn:hover {
    background-color: rgb(75, 144, 235);
    color: #fff;
}

.input-wrapper {
    background: #fff;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: none;
    height: 150px;
    left: 50%;
    margin-left: -175px;
    margin-top: -75px;
    padding: 0 50px 44px;
    position: absolute;
    top: 50%;
    transition: all 0.3s;
    width: 350px;
}

.input-wrapper h2 {
    font-size: 18px;
    margin: 25px 0 15px;
    text-align: left;
}

input {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    width: 100%;
    z-index: 100;
}

.personTable td.active .input-wrapper {
    display: block;
}

.personTable td.active .text {
    display: none;
}

.text.tmp-text {
    color: #827b7b;
}

.blocks-wrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.person-i {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    width: 30%;
}

.person-i:nth-child(3) {
    width: 40%;
}

.info-row {
    margin-bottom: 10px;
}

.person-i span {
    display: inline-block;
}

.info-header {
    font-weight: bold;
    margin-right: 10px;
}